bHeader = rgba(#46846e, .7)
fontHnav = #181818
vLink = #fff
hLink = #234338
bCard = rgba(#46846e, .5)
bBut = rgba(#fff9fc, 0.5)
bSideNav = #3F7864
fontCard = #353535
fFamilyhead = Bemount Line
fCard = "Merriweather"
borderCol = #fff9fc
borderButCol = #5ea38c
